@mixin flex($justify: center, $align: center, $direction: row) {
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin text-style($fontSize, $color, $lineHight, $marginBottom) {
    font-size: $fontSize;
    color: $color;
    line-height: $lineHight;
    margin-bottom: $marginBottom;
}

@mixin button-style($bg-color, $border-color, $text-color: #fff) {
    padding: 10px 20px;
    font-size: 1.2em;
    @if $border-color != null and $border-color != none {
        border: 3px solid $border-color;
        border-radius: 5px;
      } @else {
        border: none;
        border-radius: 8px;
      }
    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      opacity: 0.9;
    }
  }

  @mixin respond($breakpoint) {
    @if $breakpoint == 'small' {
      @media (max-width: 480px) {
        @content;
      }
    }
    @else if $breakpoint == 'medium' {
      @media (max-width: 768px) {
        @content;
      }
    }
  }