@use '../utils/utils.scss' as utils;

#body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: utils.$primary-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    color: white;
    line-height: 1;
}